<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluebudget.bluebugdet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CalendarPopUp"></activity>
        <activity
            android:name=".testTabbedActivity"
            android:label="@string/title_activity_test_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".testScrollingActivity"
            android:label="@string/title_activity_test_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".test_scroll" />
        <activity
            android:name=".NewTransfer"
            android:label="New Transfer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewExpense"
            android:label="New Expense"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewIncome"
            android:label="New Income"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewTransaction"
            android:label="New transaction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Transactions" />
        <activity android:name=".Budget" />
        <activity android:name=".Stats" />
    </application>

</manifest>